body {
    margin: 24px 160px;
    background-color: #F1F1F3;
}

.nav {
    display: flex;
    justify-content: space-between;
}

button {
    width: 116px;
    height: 52px;
    color: #006A50;
    text-align: center;
    background-color: #F1F1F3;
    border: 2px solid #006A50;
    border-radius: 8px;
    font-size: 18px;
    transition: background-color 0.2s ease, transform 0.2s ease;

}

button:hover {
    background-color: #bfe4c8;
    transform: scale(1.5);
}

.bangla {
    font: bold;
    width: 222px;
    height: 38;
    color: #0E0E0E;
    font-size: 20px;
}

/* hero-section */

.hero-section {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    margin-top: 100px;
    background-color: #a7d0c7;
    border-radius: 24px;
    padding: 50px 80px;
}

.text-1 {
    color: #635f5f;
    font: bold;
    font-size: 30px;

}

.text-2 {
    font: bold;
    font-size: 60px;
}

.btn-primary {
    width: 220px;
    height: 60px;
    background-color: #006A50;
    color: #F1F1F3;
    transition: background-color 0.2s ease, transform 0.2s ease;

}

.btn-primary:hover {
    background-color: #218838;
    transform: scale(0.5);
}

/* pillars section */

.pillers {
    margin-top: 60px;
}

.pillars-parents {
    display: flex;
    gap: 45px;
}

.piller-text-1 {
    font: bold;
    font-size: 40px;
}

.pillars-child-1 {
    width: 370px;
    height: 244px;
    padding: 25px 25px;
    border: 2px solid rgb(222, 216, 216);
    border-radius: 16px;
    background-color: #F1F1F3;
    color: black;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.pillars-child-1:hover {
    background-color: #d4edda;
    transform: scale(0.5);
}

.pilrs-txt-3 {
    color: #656363;
}


/* vishion section */

.vishion {
    margin-top: 50px;
}

.vishon-text-1 {
    font-size: 40px;
    font: bold;
}

.vishion-para {
    font-size: 20px;
    font: bold;
    color: #656363;
}

.vishion-parents {
    display: flex;
    gap: 50px;
}




.vishion-child {
    background-color: #7ca6ed;
    border-radius: 10px;
    padding: 10px 20px;
    height: 280px;
    width: 535px;

}

.vishion-text-2 {
    font: bold;

}

.vishion-text-3 {
    color: #424040;
}

.btn-primary-2 {
    width: 122px;
    min-height: 41px;
    background-color: #1a66e8;
    color: #F1F1F3;
    border: none;
    border-radius: 8px;
}

.vishion-child-2 {
    background-color: #80c5a6;
    border-radius: 10px;
    padding: 10px 20px;
    height: 280px;
    width: 535px;
}

.btn-primary-3 {
    width: 122px;
    min-height: 41px;
    background-color: #1a66e8;
    color: #F1F1F3;
    border: none;
    border-radius: 8px;
    background-color: #006A50;
}

.vishion-child-3 {
    background-color: #ecd9ac;
    border-radius: 10px;
    padding: 10px 20px;
    height: 280px;
    width: 535px;
}

.btn-primary-4 {
    width: 122px;
    min-height: 41px;
    background-color: #1a66e8;
    color: #F1F1F3;
    border: none;
    border-radius: 8px;
    background-color: #FFC239;

}

/* bangladesh 2.0 dr.yunus */

.bng-2 {
    border: 2px solid rgb(174, 170, 170);
    border-radius: 16px;
    background-color: #F1F1F3;
    color: #0E0E0E;
    margin-top: 50px;
    padding: 15px 25px;
}

.bng-txt-3 {
    color: #656363;
}

.bng-txt-2 {
    color: #656363;
}

/* qus/ans */

/* .qus-ans {

    margin-top: 80px;
}

.qus-text {
    font: bold;
    font-size: 25px;
} */



/* recent-news section */

.recent-sec {
    margin-top: 60px;
}

.recent-text-1 {
    font: bold;
    font-size: 45px;

}

.recent-text-2 {
    color: #656363;
}

.recent-news-parent {
    background-color: #F1F1F3;
    border-radius: 16px;
    border: 2px solid rgb(152, 148, 148);
    display: flex;
    /* justify-content: space-around; */
    gap: 37px;
    padding: 20px 30px;
}

.img {
    border-radius: 8px;
}

.text-flex {
    display: flex;
    gap: 5px;
    font-size: 15px;
    color: #656363;
}

.recent-text-3 {
    color: #656363;
}

.btn-primary-5 {
    width: 139px;
    height: 48px;
    border-radius: 8px;
    background-color: #006A50;
    color: #F1F1F3;
}


/* recent news-2 */

.recent-news-parent-2 {
    background-color: #F1F1F3;
    border-radius: 16px;
    border: 2px solid rgb(152, 148, 148);
    display: flex;
    /* justify-content: space-around; */
    gap: 297px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 20px;

}

.img-2 {
    border-radius: 8px;
}


/* Donate Today section */

.Donate-Today {
    margin-bottom: 100px;
}

.Donate-txt {
    font: bold;
    font-size: 40px;
    text-align: center;
}

.Donate-txt-2 {
    color: #656363;
    text-align: center;
}

.Donate-parent {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.Donate-child-1 {
    font-size: 30px;
    background-color: #F1F1F3;
    border: 2px solid rgb(178, 172, 172);
    width: 240px;
    height: 128px;
    text-align: center;
    margin: 30px 30px;
    /* cursor: pointer; */
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.Donate-child-1:hover {
    background-color: #d4edda;
    transform: scale(1.05);

}

.Donate-child-2 {
    font-size: 30px;
    background-color: #F1F1F3;
    border: 2px solid rgb(178, 172, 172);
    width: 240px;
    height: 128px;
    text-align: center;
    margin: 30px 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.Donate-child-2:hover {
    background-color: #d4edda;
    transform: scale(1.05);

}

/* .Donate-child-2.active {
    background-color: #6bdc85;
} */

.Donate-child-3 {
    font-size: 30px;
    background-color: #F1F1F3;
    border: 2px solid rgb(178, 172, 172);
    width: 240px;
    height: 128px;
    text-align: center;
    margin: 30px 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.Donate-child-3:hover {
    background-color: #d4edda;
    transform: scale(1.05);
}

.Donate-child-4 {
    font-size: 30px;
    background-color: #F1F1F3;
    border: 2px solid rgb(178, 172, 172);
    width: 240px;
    height: 128px;
    text-align: center;
    margin: 30px 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.Donate-child-4:hover {
    background-color: #d4edda;
    transform: scale(1.05);
}

.Donate-txt-3 {
    width: 1032px;
    height: 64px;
    background-color: #F1F1F3;
    border: 2px solid rgb(207, 198, 198);
    text-align: center;
    margin-left: 30px;
    margin-left: 30px;

}

.input-txt {
    margin-bottom: 20px;
    margin-left: 140px;
    /* margin-right: 40px; */
}

.input-txt input {
    width: 1050px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
}

.btn-primary-6 {
    margin-left: 600px;
    width: 151px;
    height: 56px;
    text-align: center;
    padding: 12px 25px;
    font-size: 10pxpx;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary-6:hover {
    background-color: #218838;
    transform: scale(1.05);
}